*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Lucida Grande", sans-serif;
  color: #484848;
  font-size: 13px;
  line-height: 20px;
}

table {
  display: block;
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
}

tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
}

tr:nth-child(2n) {
  background-color: #f8f8f8;
}

td {
  padding: 13px;
  border: 1px solid #ddd;
}

/* code */

.code {
  padding: 0px 20px;
  background: #f8f8f8;
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.code {
  line-height: 15px;
}

.code h4 {
  margin-bottom: 0px;
}

.code pre {
  margin: 0px;
}

